<div class="sixteen columns chatwindow chatroom">

  <div class="row">
    <button type="button" class="cupid-green">⇦ Leave chat room</button>

    <div class="two columns offset-by-ten">
      <img src="img/logo-small.png"/>
    </div>

    <span class="top-message"></span>
  </div>

  <div class="row">
    <div class="message-window">
      <div class="chattext"></div>
    </div>
  </div>

  <div class="row">
      <input type="text" maxlength="1024" placeholder="Enter your message here" class="chatinput"/>
      <button type="button" class="write_message cupid-green">Send</button>
  </div>

</div>
